@import "./design-tokens/variables";

/*--------------------------- 
-------* GLOBAL STYLES *-----
-----------------------------
*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  color: $base-color;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

a,
a:focus {
  text-decoration: none;
  color: unset;
  border: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

/* ------------------------
--------* COMPONENTS *-----
---------------------------
*/

/* Form-input */

$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

/* Custom button */

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}

/* -------------------- 
-------- SPINNER ------
*/

.spinner-overlay {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}

/* ---------------------- 
-------- ADS BUTTON -----
*/

.ads-btn {
  border: none;
  padding: 0.5em 1.4em;
  border-radius: 22px;
  background: #e00034;
  color: white;
}

.ads-btn:hover {
  background: #000;
}

/* --------------------- 
-------- HEADER --------
*/

.nav-bloc {
  height: $nav-height-min;
  background-color: #fff;
  box-shadow: 0 0 1px #797979;
  z-index: 102;
  transition: height 600ms 0s ease;

  @media (min-width: 680px) {
    height: $nav-height-max;
  }
}

.nav-wrapper {
  width: 100%;
  padding: 0.75em;
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 680px) {
    padding: 20px;
  }
}

.nav-logo {
  cursor: pointer;
  font-size: 1.3em;
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  position: fixed;
  z-index: 100;
  top: 50px;
  left: 0;
  right: 0;
  min-height: 100vh;
  background: #fff;
  transition: all 500s 0s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;

  .navbar-link {
    font-weight: 500;

    &:hover {
      font-weight: 700;
    }
  }

  &.hidden {
    display: none;
  }
}

@media (min-width: 680px) {
  .navbar-menu {
    position: unset;
    min-height: auto;
    display: flex;
    flex-direction: row;

    &.hidden {
      display: flex;
    }
  }
}

.navbar-item {
  margin-top: 1.2em;
  width: 100%;
  border-bottom: 1px solid $base-color;
  padding-bottom: 1em;

  @media (min-width: 680px) {
    margin-top: 0;
    width: unset;
    border: unset;
    padding: unset;
  }
}

.navbar-link {
  margin-left: 2.3em;
}

.hamburger-btn {
  cursor: pointer;
  width: 28px;
  height: 30px;
  margin-left: 1.5em;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: 680px) {
    display: none;
  }
}

.hamburger,
.hamburger::before,
.hamburger::after {
  height: 3px;
  border-radius: 4px;
  background: $base-color;
  transition: all 0.5s ease-in-out;
}

.hamburger {
  width: 100%;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 14px;
}

.hamburger::before {
  left: 0;
  transform: translateY(-8px);
}

.hamburger::after {
  right: 0;
  transform: translateY(8px);
}

/* ----------------------
--------* PAGES *--------
-------------------------
*/

/* ----------------------
--------1. HOMEPAGE -------
*/

/* ----------------------
-------- Search ---------
*/

.search-bloc {
  padding: 2em;
  height: 350px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/images/rental.jpg");
}

.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.search-title {
  position: relative;
  max-width: 520px;
  margin: 0.5em auto;
  color: #fff;
  z-index: 1;
}

.search-wrapper {
  max-width: 520px;
  margin: 0 auto;
  position: relative;
  top: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 14px;
  min-height: 260px;
  z-index: 1;
}

.search-tabs {
  margin: 0;
  display: flex;

  span {
    cursor: pointer;
  }
}

/* --------------------
--------- Tab ---------
*/

.tab {
  padding: 0.9em 2.1em;
  background: rgba(38, 38, 38, 0.7);
  color: #fff;
}

.tab-selected {
  background: #fff;
  color: #000;
  font-weight: 500;
}

/* ----------------------
------- Search-form -----
*/

.search-form {
  padding: 2.2em 1.5em;
  background: #fff;
}

.search-inputs {
  position: relative;
  @media (min-width: 549px) {
    display: flex;
  }
}

/* ----------------------
------- Search-input ----
*/

.search-input {
  width: 100%;
  padding: 1.4em 0.8em;
  margin-bottom: 1em;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px;
  color: rgb(38, 38, 38);
  border: 1px solid rgb(204, 209, 217);

  &.filter-place-input {
    margin-bottom: unset;
  }

  @media (min-width: 549px) {
    width: auto;
  }
}

.no-suggestions,
.suggestions {
  position: absolute;
  z-index: 200;
  top: 45px;
  width: 100%;

  @media (min-width: 549px) {
    width: 53%;
  }
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
  background: #fff;
}

.suggestions {
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;

  li {
    padding: 0.5rem;
    background: #fff;
    border-top: 1px solid rgba(153, 153, 153, 0.404);
    border-left: 1px solid rgba(153, 153, 153, 0.404);
    border-right: 1px solid rgba(153, 153, 153, 0.404);

    &:last-of-type {
      border-bottom: 1px solid rgba(153, 153, 153, 0.404);
    }
  }
}

.suggestion-active,
.suggestions li:hover {
  cursor: pointer;
  font-weight: 700;
  background: rgb(241, 240, 240);
}

.input-location {
  @media (min-width: 549px) {
    flex-grow: 10;
  }
}

.input-budget {
  @media (min-width: 549px) {
    margin-left: 1em;
    flex-grow: 1;
  }
}

/* ------------------------
------- Search-choices ----
*/

.search-choices {
  display: flex;
  flex-direction: column;

  @media (min-width: 549px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.search-items-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-item {
  color: rgb(38, 38, 38);
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: 12px;
  position: relative;

  label {
    padding: 0.5em 1.2em;
    display: flex;
    cursor: pointer;
    border: 1px dashed rgb(204, 209, 217);
    border-radius: 4px;

    &:hover {
      border-color: #5c7da5;
    }

    span.to-check {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      line-height: 10px;
      font-size: 8px;
      border-radius: 4px;
      border: 1px solid rgb(170, 178, 189);
      cursor: pointer;

      &.is-checked {
        border: 1px solid rgb(26, 111, 218);
        background-color: rgb(26, 111, 218);
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";
        color: white;
        line-height: 1;
        position: relative;
        left: 2px;
        top: 3px;
      }
    }
  }
}

.advanced-search-link {
  font-size: 0.8em;
  color: #1a6fda;
  text-decoration: underline;
}

.ads-link {
  font-size: 0.8em;
  color: rgb(224, 0, 52);
  text-decoration: underline;
  text-align: center;
  margin: 1.5em 0;
}

.search-btn-wrapper {
  display: flex;
  justify-content: center;
}

/* ---------------------------
--------2. RESULTS PAGE ------
*/

/* ------------------------
------- results-filter ----
*/

.filter-title {
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 2em;
  font-weight: 500;
}

.filter-bloc {
  position: sticky;
  top: 0;
  z-index: 200;
  background: #fff;
}

.filter-tabs,
.tabs-content {
  @media (min-width: 800px) {
    max-width: 750px;
    margin: 0 auto;
  }
}

.filter-tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.5em;
  background-color: #fff;
  flex-grow: 1;
  padding: 8px;
}

.filter-tabs-container {
  display: flex;
  align-items: center;
  flex: 1 auto;
}

.filter-save-btn {
  border: none;
  padding: 0.5em 1.1em;
  background: #fff;
  border-color: $search-color;
  color: $search-color;
  font-size: 0.8em;
  font-weight: 600;

  &:hover {
    background-color: rgb(242, 250, 255);
  }
}

/* ----------------------
------- filter-tab ------
*/

.filter-tab {
  display: flex;
  overflow: hidden;
  margin-right: 5px;

  &.medium {
    display: none;

    @media (min-width: 570px) {
      display: unset;
    }
  }

  &.large {
    display: none;

    @media (min-width: 700px) {
      display: unset;
    }
  }
}

.styled-btn {
  padding: 0.2em 0.5em;
  font-size: 12px;
  font-weight: 500;
  color: rgb(0, 106, 255);
  width: 100%;
  background: white none repeat scroll 0% 0%;
  border: 1px solid $second-color;

  @media (min-width: 400px) {
    padding: 0.6em 1.1em;
  }

  @media (min-width: 480px) {
    padding: 0.9em 1.8em;
  }

  &:hover {
    border-color: $third-color;
    background: rgba(0, 106, 255, 0.05);
  }

  .icon-for-sale {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      background: #ff5a50;
      border-radius: 50%;
      transform: translateX(-4px);
      height: 1em;
      width: 1em;
    }
  }
}

/* -----------------------------
------- Filter Tabs content ----
*/

.tabs-content-wrapper {
  position: absolute;
  z-index: 101;
  box-shadow: 0 -2px 6px #88888848;
  background: #fff;
  width: 100%;

  .tabs-content-wrapper-inside {
    padding: 15px 20px;

    .filter-title {
      margin-top: 0.5em;
    }
    .bed-filter-items {
      display: flex;
      align-items: center;
    }

    form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      span {
        padding: 0 0.5em;
      }
    }

    .small {
      @media (min-width: 700px) {
        display: none;
      }
    }
  }

  @media (min-width: 549px) {
    max-width: 400px;
  }
}

.tabs-content-wrapper-radio {
  cursor: pointer;
  padding: 1em 2em;
  border-bottom: 1px solid $third-color;

  &.rent,
  &.buy {
    font-weight: bold;
    span {
      &::before {
        border-width: 3px;
      }
    }
  }

  &:hover {
    color: $search-color;

    span {
      &::before {
        border-color: $search-color;
      }
    }
  }

  span {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      border-radius: 50%;
      border: 2px solid $third-color;
      transform: translateX(-10px);
      height: 1.1em;
      width: 1.1em;
    }
  }
}

.tabs-content-top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $second-color;
}

.check-item {
  color: rgb(38, 38, 38);
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
  font-size: 12px;
  position: relative;

  label {
    padding: 0.5em 1.2em;
    display: flex;
    cursor: pointer;
    border: 1px dashed rgb(204, 209, 217);
    border-radius: 4px;

    &:hover {
      border-color: #5c7da5;
    }

    span.to-check {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      line-height: 10px;
      font-size: 8px;
      border-radius: 4px;
      border: 1px solid rgb(170, 178, 189);
      cursor: pointer;

      &.is-checked {
        border: 1px solid rgb(26, 111, 218);
        background-color: rgb(26, 111, 218);
      }

      &::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";
        color: white;
        line-height: 1;
        position: relative;
        left: 2px;
        top: 3px;
      }
    }
  }
}

/* -----------------------
------- Results Items ----
*/

.results-items {
  @media (min-width: 400px) {
    top: 50px;
    right: 0;
    bottom: 0;
    background: #fff;
    max-width: 750px;
    margin: 1em auto;
  }

  .title {
    padding: 0.5em 0.5em 0.2em 0.5em;
    font-size: 1.4em;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1em;
    padding: 0 1em;
    color: #2a2a33;
  }
}

.rentals {
  @media (min-width: 550px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
  }

  @media (min-width: 800px) {
    display: unset;
  }
}

/* ---------------------
------- Rental Item ----
*/

.rental-item {
  border: 1px solid $fourth-color;
  margin-top: 1em;
  cursor: pointer;

  @media (min-width: 550px) {
    margin-top: 0;
  }

  @media (min-width: 600px) {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 0.75em;
  }
}

.rental-top {
  position: relative;
  width: 100%;

  @media (min-width: 600px) {
    width: 50%;
  }
}

.rental-timer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  font-size: 13px;
  color: #fff;
  background: rgba(0, 0, 0, 0.54);

  span {
    margin-left: 0.25em;
  }

  @media (min-width: 600px) {
    top: 0.4em;
    left: 0.4em;
  }
}

.rental-furnished {
  position: absolute;
  left: 1em;
  top: 2.1em;
  display: inline-block;
  padding: 2px 6px;
  font-size: 13px;
  color: #000;
  background: rgba(255, 255, 255, 0.54);

  @media (min-width: 600px) {
    top: 2.5em;
    padding: 2px 8px;
  }
}

.rental-feature-img {
  max-width: 100%;

  @media (min-width: 600px) {
    margin: 0.3em;
  }
}

.rental-info {
  padding: 5px 8px 7px;

  @media (min-width: 600px) {
    width: 45%;
    padding: 1em;
  }
}

.info-heading,
.details {
  display: flex;
  align-items: center;
}

.rental-price {
  flex: 10 1 auto;
  font-size: 23px;
  font-weight: 600;

  @media (min-width: 600px) {
    font-size: 25px;
  }

  span {
    font-size: 16px;
    font-weight: 400;
  }
}

.details {
  flex: 1 1 auto;
  justify-content: flex-end;
  font-size: 15px;

  @media (min-width: 600px) {
    font-size: 16px;
  }

  li {
    padding: 0 5px;
    border-left: 1px solid $second-color;

    &:first-child {
      border: none;
    }
  }
}

.info-location {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

.info-description {
  font-size: 14px;
  color: #707070;
  opacity: 0.95;
  line-height: 18px;
  margin-top: 0.75em;
  overflow: hidden;
  display: none;

  @media (min-width: 600px) {
    font-size: 15px;
    line-height: 20px;
  }

  @media (min-width: 600px) {
    display: inherit;
  }
}

.rental-type {
  margin-top: 3px;
  height: 18px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;

  @media (min-width: 600px) {
    font-size: 17px;
  }

  span {
    position: relative;

    &:before {
      content: " ";
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: $search-color;
      border-radius: 50%;
      top: 1px;
      margin-right: 3px;
    }
  }
}

/* ------------------------------
----- 3. RESULT DETAIL PAGE -----
*/

.result-detail-header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 1em;

  @media (min-width: 1000px) {
    margin: 30px auto;
  }

  .sub-header {
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }
  }

  .header-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 1em;
  }
}

.result-detail-bloc {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 1em;
  max-width: 600px;
  align-items: center;

  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-between;
    padding: unset;
    max-width: 1000px;
  }
}

.result-data {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;

  @media (min-width: 1000px) {
    width: 59%;
    margin: unset;
  }
}

.result-featured-img {
  margin-bottom: 1em;
  position: relative;

  .featured-img {
    width: 100%;
  }

  .black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .display-photos-btn {
    position: absolute;
    top: 46%;
    right: 30%;
    padding: 0.3em 1em;
    border-radius: 15px;
    background: #e00034;
    color: white;
    cursor: pointer;

    @media (min-width: 600px) {
      right: 38%;
    }

    &:hover {
      background: #000;
      color: white;
    }
  }
}

.result-info {
  .result-info-type {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2em;
    font-size: 24px;
    font-weight: bold;
    color: rgb(38, 38, 38);

    .type,
    .price {
      margin-bottom: 0;
    }

    .price {
      span {
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
  .result-info-place {
    width: 100%;
    color: rgb(38, 38, 38);
  }
  .result-info-summary {
    display: flex;
    align-items: center;
  }
  .tags-with-icon {
    display: flex;
    align-items: center;
    padding-right: 16px;
    font-size: 16px;
    color: rgb(38, 38, 38);
  }
  .current-icon {
    margin-right: 3px;
    display: inline-block;
    width: 18px;
    height: 18px;

    &.fix-position {
      margin-top: -5px;
    }
  }
}

.result-about {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  margin: 30px auto;

  .description-title {
    margin-bottom: 0.5em;
    font-size: 20px;
    font-weight: bold;
    color: #262626;
  }
}

.result-properties {
  .properties-title {
    margin-bottom: 0.5em;
    font-size: 20px;
    font-weight: bold;
    color: #262626;
  }
  .properties-items {
    display: flex;
    flex-flow: row wrap;
    width: 70%;

    span {
      border: 1px dashed rgba(0, 0, 0, 0.308);
      padding: 0.2em 0.4em;
      border-radius: 0.1em;
      margin: 0.2em;
    }
  }
}

.result-contact-form {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  margin-top: 1.2em;

  @media (min-width: 1000px) {
    align-self: flex-start;
    margin: unset;
  }

  .form-container {
    min-width: 300px;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 20px;

    .title {
      font-size: 28px;
      line-height: 1.3;
      font-weight: 600;
    }

    label {
      color: rgb(42, 42, 51);
      text-transform: none;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      display: block;
      margin-top: 1em;
      margin-bottom: 0.2em;
    }

    textarea {
      appearance: none;
      width: 100%;
      margin: 0px;
      padding: 9px 16px;
      background-color: rgb(246, 246, 250);
      border: 1px solid rgb(209, 209, 213);
      border-radius: 4px;
      box-sizing: border-box;
      caret-color: #e00034b4;
      cursor: text;
      outline: currentcolor none medium;
      box-shadow: none;
      color: rgb(42, 42, 51);
      text-transform: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      resize: none;
      height: auto;
      vertical-align: top;
    }

    input {
      appearance: none;
      width: 100%;
      margin: 0px;
      padding: 5px 16px;
      background-color: rgb(246, 246, 250);
      border: 1px solid rgb(209, 209, 213);
      border-radius: 4px;
      box-sizing: border-box;
      caret-color: #e00034b4;
      cursor: text;
      outline: currentcolor none medium;
      box-shadow: none;
      color: rgb(42, 42, 51);
      text-transform: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      height: auto;
    }

    .submit {
      background-color: #e00034;
      border-color: #e00034;
      color: rgb(255, 255, 255);
      margin-top: 1em;
      cursor: pointer;
    }
  }
  @media (min-width: 1000px) {
    width: 39%;
  }
}

.editorials {
  background-color: rgba(214, 235, 239, 0.5);
  margin-top: 130px;

  .inside {
    height: auto;
    background: none;
    max-width: 1024px;
    margin: 0px auto;
    padding: 48px 0px 0px;

    h2 {
      padding-bottom: 12px;
      text-align: left;
      font-weight: 400;
      position: relative;
      margin: 0px 0px 24px;
    }

    h2::after {
      content: "";
      border-radius: 4px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 24px;
      height: 4px;
      background-color: rgb(224, 0, 52);
    }

    .posts-container {
      max-width: 1024px;
      text-align: left;
      display: flex;
      flex-flow: row wrap;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      margin: 0px auto;

      .posts-container-inner {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 0px 0px 72px;

        .post {
          position: relative;
          background-color: white;
          text-align: left;
          border-radius: 4px;
          margin-right: 24px;
          width: 230px;
          box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px 0px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px 0px,
            rgba(0, 0, 0, 0.04) 0px 1px 2px 0px;

          a {
            text-decoration: none;
            color: rgb(0, 0, 0);

            img {
              width: 100%;
              height: auto;
              border-radius: 4px 4px 0px 0px;
              padding-bottom: 12px;
            }

            div {
              border-radius: 4px;
              position: absolute;
              top: 0%;
              left: 0%;
              background-color: rgb(255, 255, 255);
              color: rgb(224, 0, 52);
              font-size: 12px;
              padding: 3px 6px;
              margin: 6px;
            }

            p {
              padding: 0px 15px 15px;
            }
          }
        }
      }
    }
  }
}

.footer {
  text-align: left;
}

.footer-inner {
  position: relative;
  background-color: #434a54;
  color: #fff;
  font-size: 14px;
  padding: 24px 0;
}

.footer-wrapper {
  position: relative;
  width: 100%;
  padding: 0 24px;
  overflow: auto;
}

.footer-links-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  justify-content: space-around;
}

.footer-links-section::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #656d78;
  margin-top: 12px;
}

.footer-links-section-container {
  .title {
    height: 20px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
  }
  .footer-link-list {
    display: flex;
    flex-direction: column;
    padding: 12px 0;

    a {
      margin-bottom: 6px;
    }
  }

  .link-box {
    padding: 12px 0;

    p {
      font-weight: 400;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }

    .footer-link-list {
      display: flex;
      flex-direction: row;

      a {
        fill: #aab2bd;
        width: 24px;
        height: 24px;
        margin-right: 0.5em;
      }
    }
  }
}

.footer-copyright-section {
  display: flex;
  flex-wrap: wrap;

  div {
    margin-right: auto;
  }

  a {
    margin-right: 24px;
  }

  a:last-child {
    margin-right: unset;
  }
}

/* ------------------------------
----- 4. SIGN-IN-AND-SIGN-UP ----
*/

.sign-in-and-sign-up {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  h2 {
    margin: 10px 0;
  }

  button {
    font-family: unset;
  }
}

.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
}
